/* the origonal theme - light mode */
html[data-theme='light'] {

    /* text colours */
    --text_color: #32292F;
    --article_heading_color: #B400E0;

    /* background colors */
    --body_background_color: #C3C1C1;
    --header_background_color: #4282B3;
    --background_color: #A5A1A1;

    /* Button customisations */
    --button_background_color: #fff;
    --button_hover_background: #088ebf;
    --button_hover_border: #088ebf;
    --buttton_border: #088ebf;






}

/* dark mode theme */
html[data-theme='dark'] {

    /* text colours */
    --text_color: #32292F;
    --article_heading_color: #B400E0;

    /* background colors */
    --body_background_color: #C3C1C1;
    --header_background_color: #4282B3;
    --background_color: #A5A1A1;

    /* Button customisations */
    --button_background_color: #fff;
    --button_hover_background: #088ebf;
    --button_hover_border: #088ebf;
    --buttton_border: #088ebf;
}



/* styling for whole body */
body{
    background-color:var(--body_background_color);
}

/* styling for body as a whole */
header{
    background-color: var(--header_background_color);
}

/* styling for h1 in header*/
header h1{
    text-align: center;
    color: var(--text_color);
    padding: 1em;
}

/* styling for button in headers */
header button {
    background-color: var(--button_background_color);
    color: var(--text_color);
    border: 2px solid var(--buttton_border);
    padding: 0.5em;
    border-radius: 20px; /* Curved corners */
    cursor: pointer;
}

/* styling for nav */
nav {
    background-color: var(--background_color);
    border-radius: 20px; /* Curved corners */
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

/* will add styling shortly
nav ul{}

nav form {}
*/

/*styling for main tag */
main {
    color: var(--text_color);
}

/* styling for all articles */
article{
    background-color: var(--background_color);
    margin-bottom: 75px;
    padding: 1em;
    border-radius: 20px; /* Curved corners */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* styling for buttons inside body */
body button{
    background-color: var(--button_background_color);
    color: var(--text_color);
    border: 2px solid var(--buttton_border);
    padding: 0.5em;
    border-radius: 20px; /* Curved corners */
    cursor: pointer;
}


article h1,h2,h3,h4{
    color: var(--article_heading_color);
}

/* styling for h2 inside article*/
article h2 {
    padding-left: 2em; /* main headings are closer to the left, paragraphs arnt as far */
}
/* styling for h3 inside article*/
article h3 {
    padding-left: 5em;
}
/* styling for h4 inside article*/
article h4 {
    padding-left: 7em;
}
/* styling for p inside article*/
article p {
    padding-left:9em;
    padding-top: 0.5em;
}

/*styling for when you hover over button */
button:hover {
    background-color: var(--button_hover_background);
    color: var(--text_color);
    border: 2px solid var(--button_hover_border);
}
p{}

/* styling for footer*/
footer {
    margin-top: 4em;
    background-color: var(--background_color);
    color: var(--text_color);
    text-align: center;
    padding: 6px 0;
    margin-top: 4em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
