{
}


body{
    background-color: #424549;
}

header{
    background-color:#000;
}

header h1{
    text-align: center;
    color: #ececec;
    padding: 1em;
}

header button {
    background-color: #fff;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    padding: 0.5em;
    border-radius: 20px; /* Curved corners */
    cursor: pointer;
}


nav {
    background-color: #000000;
    border-radius: 20px; /* Curved corners */
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

nav ul{}

nav form {}

main {
    color: #ececec;
}

article{

}

article h2 {
    padding-left: 2em; /* main headings are closer to the left, paragraphs arnt as far */
}

article h3 {
    padding-left: 5em;
}

article h4 {
    padding-left: 7em;
}

article p {
    padding-left:9em;
    padding-top: 0.5em;
}

p{}


footer {
    margin-top: 4em;
    background-color: #000000;
    color: #ececec;
    text-align: center;
    padding: 6px 0;
    margin-top: 4em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
