/* the origonal theme - light mode */
html[data-theme='light'] {

    /* text colours */
    --text_color: #32292F;
    --heading_text_color: #32292F;
    --article_heading_color: #B400E0;

    /* background colors */
    --body_background_color: #C3C1C1;
    --header_background_color: #4282B3;
    --background_color: #A5A1A1;

    /* Button customisations */
    --button_background_color: #fff;
    --button_hover_background: #088ebf;
    --button_hover_border: #088ebf;
    --buttton_border: #088ebf;



}

/* dark mode theme */
html[data-theme='dark'] {

    /* text colours */
    --text_color: #E9CCC3;
    --heading_text_color: #F3E6E2;
    --article_heading_color: #B400E0;

    /* background colors */
    --body_background_color: #2A2828;
    --header_background_color: #8300A3;
    --background_color: #3E3C3C;

    /* Button customisations */
    --button_background_color: #4B5267;
    --button_hover_background: #62007A;
    --button_hover_border: #62007A;
    --buttton_border: #62007A;

}

ui il {
    list-style: none;
}


/* styling for whole body */
body{
    background-color:var(--body_background_color);
}

/* styling for body as a whole */
header{
    background-color: var(--header_background_color);
    border-radius: 20px
}

/* styling for h1 in header*/
header h1{
    text-align: center;
    font-size: 200%;
    color: var(--heading_text_color);
    padding: 1em;
}

/* styling for button in headers */
header button {
    background-color: var(--button_background_color);
    color: var(--text_color);
    border: 2px solid var(--buttton_border);
    padding: 0.5em;
    border-radius: 20px; /* Curved corners */
    cursor: pointer;
}

/* styling for nav */
nav {
    background-color: var(--background_color);
    border-radius: 20px; /* Curved corners */
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display:flex;
}

.ImgTxt {
    text-align: center;
}


/*styling for main tag */
main {
    color: var(--text_color);
}

/* styling for all articles */
article{
    background-color: var(--background_color);
    margin-bottom: 75px;
    padding: 1em;
    border-radius: 20px; /* Curved corners */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* styling for buttons inside body */
body button{
    background-color: var(--button_background_color);
    color: var(--text_color);
    border: 2px solid var(--buttton_border);
    padding: 0.5em;
    border-radius: 20px; /* Curved corners */
    cursor: pointer;
    margin-top: 0.5em;
}


article h1,h2,h3,h4{
    color: var(--article_heading_color);
}

/* styling for h2 inside article*/
article h2 {
    padding-left: 2em; /* main headings are closer to the left, paragraphs arnt as far */
}
/* styling for h3 inside article*/
article h3 {
    padding-left: 5em;
}
/* styling for h4 inside article*/
article h4 {
    padding-left: 7em;
}
/* styling for p inside article*/
article p {
    padding-left:9em;
    padding-top: 0.5em;
}

/*styling for when you hover over button */
button:hover {
    background-color: var(--button_hover_background);
    color: var(--text_color);
    border: 2px solid var(--button_hover_border);
}
p{}

/* styling for footer*/
footer {
    margin-top: 4em;
    background-color: var(--background_color);
    color: var(--text_color);
    text-align: center;
    padding: 6px 0;
    margin-top: 4em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px

}

/*for ToDo sheet */
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;

}

/*for ToDo sheet */
.ToDo-app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.ToDo-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 25px;
}
.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.row button{
    border: none;
    outline: none;
    padding: 16px 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
.ToDo-app ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
}

/*

.ToDo-app ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fb3144;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}

.ToDo-app ul li span:hover{

}


.ToDo-app ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}



nav ul{}

nav form {}

 */